<footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">About us</div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde doloremque voluptates, fugit laudantium minus, nam natus cumque omnis voluptas, officiis aliquid in expedita eos quia explicabo praesentium mollitia quos dolore.</p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="callto: 7498900373"><i class="fas fa-phone-volume"></i>7498900373</a>
          </div>
          <div class="email">
            <a href="mailto:vaibhavmali473@gmail.com"><i class="fas fa-envelope"></i>vaibhavmali473@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="middle_box">
        <div class="topic">Our Services</div>
        <div><a href="#">Hotel</a></div>
        <div><a href="#">Rooms</a></div>
        <div><a href="#">Best Food</a></div>
        <div><a href="#">Home delivery</a></div>
      </div>
      <div class="right box">
        <div class="topic">Subscribe us</div>
        <form action="#">
          <input type="text" name="subemail" placeholder="Enter email address">
          <input type="submit"  value="Send">
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </form>
      </div>
    </div>
</footer>