<header class="header">
      <a href="index" class="logo">Web<span class="yellow">_Resto</span></a>

      <nav class="navbar">
        <a href="index" class="nav_btn active">Home</a>
        <a href="menu" class="nav_btn">Menu</a>
        <a href="about" class="nav_btn">About Us</a>
        <a href="chef" class="nav_btn">Our Chefs</a>
        <a href="contact" class="nav_btn">Contact Us</a>
        <a href="checkout" class="cart nav_btn"><i class="fa-solid fa-cart-shopping"></i><sup class="sup">0</sup></a>
        <a href="menu_card" class="btn nav_btn">Order Online</a>
      </nav>

      <!-- Hamburger -->
      <div class="hamburger">
        <img src="./img/grid-outline.svg" alt="" />
      </div>
</header>