<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="img/icon.png" type="image/svg+xml">
    <!-- StyleSheets -->
    <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/footer.css">
        {{!-- Font awesome --}}
        <script src="https://kit.fontawesome.com/179b89618c.js" crossorigin="anonymous"></script>
    <title>About Us</title>
</head>
<body>
        <!-- Preloader -->
    <!-- <div class="preloader">
      <img src="./images/preloader.gif" alt="" />
    </div> -->

    <!-- Nav starts -->
    {{>header}}
    <!-- nav End -->

    <!-- Hero -->
    <section>
        <div class="hero" style="background-image: url('img/banner-image-4.jpg');">
            <div class="text">
                <h class="golden">OUR STORY</h>
                <h1>About Us</h1>
            </div>
        </div>
    </section>

    <!-- WHO WE ARE -->
    <section class="services" id="services" style="background-color: #202020; height: 110rem;">
        <div class="about_text">
            <h class="golden" ><u>WHO WE ARE</u></h>
            <h1 >A modern restaurant with a menu that will make your mouth water. Servicing delicious food <span style="color: goldenrod;">since 45 years.</span> Enjoy our seasonal menu and experience the beauty of naturalness</h1>
        </div>

    <div class="bottom_about">
        <div class="box">
            <p>
                Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived.
            </p>
            <a href="#">VAIBHAV MALI - Founder</a>
            <!-- <img src="" alt=""> -->
          <img src="img/about-image-1.jpg" alt="" class="about_img1"/>
        </div>
        <div class="box">
          <img src="img/about-image-2.jpg" alt="" class="about_img2"/>
         
        </div>
        <div class="box">
          <img src="img/Golden_frame.png" alt="" class="about_img3"/>
          <h4>Lunch Time</h4>
          <h5>Monday to Sunday</h5>
          <h5>11.00 am - 2.30pm</h5>

          <h4>Dinner Time</h4>
          <h5>Monday to Sunday</h5>
          <h5>5.30 pm - 11.30 pm</h5>

          <h4>Contact Us</h4>
          <h5>Restaurant St, Delicious City, London 9578, UK</h5>
          <a href="#">7498900373</a>
          <a href="#">vaibhavmali473@gmail.com</a>
        </div>
      </div>

        <div class="text_1 height">
            <h2 class="point">150+</h2>
            <h5 class="sub_point">DAILY <br> ORDER</h5>
            <h2 class="point">82+</h2>
            <h5 class="sub_point">SPECIAL <br> DISHES</h5>
            <h2 class="point">35+</h2>
            <h5 class="sub_point">EXPERT <br> CHE</h5>
            <h2 class="point">10+</h2>
            <h5 class="sub_point">AWARDS <br> WON</h5>
        </div>

    </section>

    <!-- Award wining shef -->
    <section class="background">
        <section class="award" id="award">
            <div class="image">
            <img src="/img/image-5.jpg" alt="" />
            </div>
            <div class="content">
                <img src="img/asset 21.png" alt="">
            <p class="golden" style="text-align: left;">35 YEAR OF EXPERIENCE</p>
            <h3>Award Winning Chef</h3>
            <p>
                Lorem ipsum dolor sit amet,adipiscing elit. Eu, montes, metus
                porttitor consectetur pretium. Euismod imperdiet pellentesque cursus
                in netus.
            </p>
            <h1>HENRY - EXCUTIVE CHEF</h1>
            <a href="#" class="btn">MEET OUR TEAM</a>
            </div>
            <!--  -->
            
            <div class="content">
                <img src="img/asset 21.png" alt="">
            <p class="golden" style="text-align: left;">DELIGHTFUL EXPERIENCE </p>
            <h3>Dinner, Event or Party?</h3>
            <p>
                Lorem ipsum dolor sit amet,adipiscing elit. Eu, montes, metus
                porttitor consectetur pretium. Euismod imperdiet pellentesque cursus
                in netus.
            </p>
            <a href="#" class="btn">DISCOVER NOW</a>
            </div>
            <div class="image">
                <img src="/img/image-6.jpg" alt="" />
            </div>
        </section>
    </section>

    <!-- Why choose Us -->
        <!-- Offer -->
    <section class="background_4">
        <div class="head_text">
            <h class="golden" ><u>FLAVORS FOR ROYALTY</u></h>
            <h1 >We Offer Top Notch</h1>
        </div>
        <section class="services" id="services">
            <!-- <div class="top">
            <h2><span class="yellow">Why</span> We are the Best</h2>
            <p>
                Lorem ipsum is placeholder text commonly used in the graphic, print,
                and publishing industries for previewing layouts and visual mockups.
                Lorem ipsum is placeholder.
            </p>
            </div> -->
    
        <div class="why">
            <div class="box hover-zoom">
                <img src="/img/featured-4.jpg" alt="" />
                <h4>Hygienic Food</h4>
            </div>
            <div class="box hover-zoom">
                <img src="/img/featured-5.jpg" alt=""  style="margin-top: 6rem;"/>
                <h4>Fresh Environment</h4>
            </div>
            <div class="box hover-zoom">
                <img src="/img/featured-6.jpg" alt="" />
                <h4>Skilled Chefs</h4>
            </div>
            <div class="box hover-zoom">
                <img src="/img/featured-7.jpg" alt=""  style="margin-top: 6rem;"/>
                <h4>Event & Party</h4>
            </div>
            </div>
        </section>
    </section>

    {{!-- Footer --}}
    {{>footer}}

    {{!--  Go To Top  --}}
{{>topscroll}}
        <!-- Js Part -->
    <script src="js/Add.js"></script>
    <script src="js/load.js"></script>

</body>
</html>