<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/booking.css">
            <link rel="shortcut icon" href="img/icon.png" type="image/svg+xml">
    <!-- <link rel="stylesheet" href="css/checkout.css"> -->
    <link rel="stylesheet" href="css/footer.css">
        {{!-- Font awesome --}}
        <script src="https://kit.fontawesome.com/179b89618c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <!-- Nav start -->
    {{>header}}
    <!-- nav End -->


    <section class="marg_top">
            
    </section>

    <section>
        <div class="mainscreen">
            <div class="card">
              <div class="leftside">
                <img
                  src="img/asset 52.jpeg"
                  class="product"
                  alt="Shoes"
                />
                <h1 class="pos">Total Price : </h1>
              </div>
              <div class="rightside">
                <form action="/checkout" method="POST">
                  <h1>CheckOut</h1>
                  <h2>Payment Information</h2>
                  <p>Cardholder Name</p>
                  <input type="text" class="inputbox" name="checkname" required />
                  <p>Address</p>
                  <input type="text" class="inputbox" name="checkaddress" required />
                  
                  
                  <p>Card Number</p>
                  <input type="number" class="inputbox" name="card_number" id="card_number" required />
      
                  <p>Card Type</p>
                  <select class="inputbox" name="card_type" id="card_type" required>
                    <option value="">--Select a Card Type--</option>
                    <option value="Visa">Visa</option>
                    <option value="RuPay">RuPay</option>
                    <option value="MasterCard">MasterCard</option>
                  </select>
      <div class="expcvv">
      
                  <p class="expcvv_text">Expiry</p>
                  <input type="date" class="inputbox" name="exp_date" id="exp_date" required />
      
                  <p class="expcvv_text2">CVV</p>
                  <input type="password" class="inputbox" name="cvv" id="cvv" required />
              </div>
                  <p></p>
                  <button type="submit" class="button">CheckOut</button>
                </form>
              </div>
            </div>
        </div>
    </section>

    {{!-- Footer --}}
    {{>footer}}
    {{!--  Go To Top  --}}
{{>topscroll}}

    <script src="js/Add.js"></script>
    <script src="js/load.js"></script>
</body>
</html>