<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Links -->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/form.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/booking.css">
            <link rel="shortcut icon" href="img/icon.png" type="image/svg+xml">
        {{!-- Font awesome --}}
    <script src="https://kit.fontawesome.com/179b89618c.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>
<body>
    <!-- Preloader -->
    <!-- <div class="preloader">
      <img src="./images/preloader.gif" alt="" />
    </div> -->

    <!-- nav Starts -->
    {{>header}}
    <!-- nav End -->

    <!-- Hero -->
    <section>
        <div class="hero" style="background-image: url('img/banner-image-4.jpg');">
            <div class="text">
                <h class="golden">ANY QUERY ?</h>
                <h1>Contact Us</h1>
            </div>
        </div>
    </section>

    <!-- Map -->
    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15135.445739294211!2d73.8099756491915!3d18.489934671560228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bfe79bf771d7%3A0xac81e25be4cc4bf!2sKarve%20Nagar%2C%20Pune%2C%20Maharashtra%20411052!5e0!3m2!1sen!2sin!4v1680169946216!5m2!1sen!2sin" width="1518" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>

    <!-- Booking -->
    <div class="container">
        <h1 class="brand">Lunch Time</h1>
        <div class="wrapper animated bounceInLeft">
          <div class="company-info">
            <h3>Lunch & Dinner Specials</h3>
            <img src="img/img4.jpg" alt="" width="100%" >
            
          </div>
          <div class="contact">
            <form action="/contact" method="POST">
                <h1>Message us</h1>
                <p>Have a question about the our service? We're here to <br> help, contact us today</p>
                <input type="text" name="contactname" placeholder="Your Name">
                <input type="tel" name="contactphone" placeholder="Phone Number">
                <input type="email" name="contactemail" placeholder="Your Email">
              
              <p class="full">
                <input type="text" name="contactmessage" placeholder="Any Suggestion">
                {{!-- <textarea name="message" rows="5" placeholder="Special Request"></textarea> --}}
              </p>
              <p class="full">
                <button class="button" type="submit">Submit</button>
              </p>
            </form>
          </div>
        </div>
      </div>

{{!-- Footer --}}
    {{>footer}}
    {{!--  Go To Top  --}}
{{>topscroll}}
        <!-- Js Part -->
    <script src="js/Add.js"></script>
    <script src="js/load.js"></script>
</body>
</html>